@import "shared.css";

html, body {
  width: 250px;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

input {
  width: 90%;
}

.collection-name{
  font: 15px;
  color: blue;
  margin-bottom: 5px;
}

.save-collection{
  font: 15px;
}