ul.thumbnails {
  padding: 0;
}

ul.thumbnails li {
  display: inline-block;
  vertical-align: middle;
  padding: 0.4em;
}

.thumbnails img {
  max-width: 100px;
  max-height: 100px;
}

.error {
  background: rgba(255,0,0,0.4);
}

.success {
  background: rgba(0,255,0,0.4);
}
#textnav { /* title and placeholder display center */
  width: 100%;
  text-align: center;
}

.image-filter { /* placeholder size */
   color:  blue;
  font-size: 15px;
}
.reload{
  font-size: 15px;
}
.delete{
  font-size: 15px;
}